@charset "utf-8";
/* CSS Document */
/* Credit to bootsnipp.com for the css for the color graph */
body {
	background-color: #00f6d3;
}
.mainLogo {
    display: inline-block;
	width: 20%;
	height: 181px;
	margin-left: 40%;
	margin-top: 25%;
}
.marTop20 {
	margin-top: 20px;
}
/*.vertical-offset-100 {
    padding-top: 50%;
}*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/*iPhone<5*/
@media screen and (device-aspect-ratio: 2/3) {

}

/*iPhone 5*/
@media screen and (device-aspect-ratio: 40/71) {

}

/*iPhone 6*/
@media screen and (device-aspect-ratio: 667/375) {

}

/*iPhone 6 Plus*/
@media screen and (device-aspect-ratio: 16/9) {

}