@charset "utf-8";
/* CSS Document */
/* Credit to bootsnipp.com for the css for the color graph */

@font-face {
    font-family: roboto;
    src: url(roboto/Roboto-Light.ttf);
    font-weight: bold;
}

body {
  font-family: roboto;
}

.mainContainer {
    background-color: #00f6d3;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00f6d3;
}
.mainContainerWhite {
    background-color: #ffffff;
}

.mainLogo {
    display: inline-block;
	width: 20%;
	height: 181px;
	margin-left: 40%;
	margin-top: 25%;
}
.header-logo {
    line-height: 63px;
    width:30%;
}
.header-title {
    width: 70%;
}
.header-title h2 {
  color: #f47c59;
  font-size: 20px;
  margin-left: 24%;
}

.marAuto {
  margin: 0 auto;
}
.marTop10 {
    margin-top: 10px;
}
.marTop5 {
    margin-top: 5px;
}
.marTop20 {
	margin-top: 20px;
}

.marRight10 {
  margin-right: 10px; 
}
.font-size8-bold {
  font-size: 8px; font-weight: bold;
}
.marBottom20{
  margin-bottom: 20px;
}

.marBottom10{
  margin-bottom: 10px;
}
.pad
.marBottom5 {
  margin-bottom: 5px;
}
.marRight20 {
  margin-right: 20px;
}

.vertical-offset-100 {
    padding-top: 50%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.width-pull-left {
  width: 18%;
  border-right: 1px solid #e3e3e3;  
  margin-right: 1%;
}

.width-pull-left2 {
  width: 19%;
  border-right: 1px solid #e3e3e3;  
  margin-right: 1%;
}

.reg-menu-icon {
  width: 30px;
  height: 30px;
  background: #f47c59;
  /* border: 1px solid #acaaa6; */
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 9px 7px;
  vertical-align: middle;
  margin-right: 10px;
}	

.reg-pop-up {
    padding: 10px;
}

.reg-pop-up label {
    font-size: 14px;
}
.reg-pop-up .checkbox-inline {
    margin-left: 0px;  
    font-size:12px; 
}


.fits {
    margin-left: 2px; margin-top:-5px; margin-right:10px; 
}

.btn-locate-it {
    background-color: #68c7bb; border-radius: 0; border: 0; color: #000;
}	

.btn-locate-it:hover{
  background-color: #fff;
  color: #333;
  border: 1px solid #e3e3e3;
}


#regMapContainer {
    height: 400px;
}
	/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;

}

.verticle-middle {
    margin-top: 45%;
}    

.btn-list-find-space {
    font-size: 12px; 
    background-color: #ffffff; 
    border: 0; 
    color: #000;
    border-radius: 0; 
    opacity: 0.7;
}
a.btn-list-find-space:hover {
   background-color: #ffffff; 
   opacity: 1.0;
   color: #333;
}
/*iPhone<5*/
@media screen and (device-aspect-ratio: 2/3) {

}

/*iPhone 5*/

@media screen and (device-aspect-ratio: 40/71) {
    
}

/*iPhone 6*/
@media screen and (device-aspect-ratio: 667/375) {

}

/*iPhone 6 Plus*/
@media screen and (device-aspect-ratio: 16/9) {


}
.signupPopover {
position: relative;
display: block;
float: left;
width: 100%;
}

.reset-margin {
    margin: 0px !important;
}
.signupLink {
  color: #65676e;
  font-size: 12px;
}

a.signupLink:hover {
  text-decoration: none;
}

.form-control::-webkit-input-placeholder { 
  color: #dcdee0;
}
.botton-border {
  border-bottom: 1px solid #e3e3e3;
}
.form-control {
  border: 0px;
  box-shadow: none;
  font-size: 14px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #f6f6f6;
}
.font-weight-normal {
  font-weight: normal;
}

.padBottom10 {
  padding-bottom: 10px;
}

.approveBtn {
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  background-color: #68c7bb;
  border: 0;
  color: #586b6f;
}

.searchtext {

-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
background-color: rgb(255, 255, 255);
background-image: none;
border-bottom-color: rgb(204, 204, 204);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 0px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: separate;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(204, 204, 204);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(204, 204, 204);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(204, 204, 204);
border-top-left-radius: 4px;
border-top-right-radius: 0px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
box-sizing: border-box;

}