<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<div class="row" style="border-bottom: 1px solid #86898e;">
			<span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center" style="line-height: 63px;"><img src="../img/inner_logo_33x33.png"></span>
			<span class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center" style="top: 16px; padding-left: 40px;"><h4 class="text-center" style="color: #f47c59;">YOUR CASH COW</h4></span>
			<span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center" style="line-height: 63px;"><img src="../img/flip_33x33.png"></span>
		</div>
		<div class="row marTop20 text-center" style="border-bottom: 1px solid #f47c59; margin-left: 10px; margin-right: 10px;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="font-size: 12px;">
				<a href="/#goldmine" style="color:red;">GOLD MINE</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="font-size: 12px;">
				<a href="/#cashregister">CASH REGISTER</a>
			</div>
		</div>
		<div class="row marTop20" style="font-size: 12px; margin-left: 10px; margin-right: 10px;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{info.slot}}<br>Slot</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="border-left: 1px solid;">LOCATED AT:<br>{{info.address}}
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><span class="glyphicon glyphicon-pencil"></span></div>
		</div>
		<div class="marTop10" id="selectedAreaMap" style="height:200px;background-color:red;">

		</div>
		<div class="marTop10">
			<label>LINK MINDED NEAR TO YOU</label>
		</div>
		<div class="marTop10" id="linkMindNearMap" style="height:400px;background-color:GREEN;">

		</div>
	</div>
</div>