<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<div class="row" style="border-bottom: 1px solid #E3E3E3;">
            
                <div class="pull-left" style="width: 20%;">
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center" style="line-height: 63px;">
                        <img src="../img/inner_logo_33x33.png">
                    </span>
                </div>
                <div class="pull-left" style="width: 60%;">
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center" style="top: 16px; /* padding-left: 40px; */margin-left: 14%;"><h4 class="text-center" style="color: #f47c59;">PIT STOPS</h4></span>
                </div>
                <div class="pull-left">
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center" style="line-height: 63px;"><img src="../img/flip_33x33.png"></span>
                </div>
		</div>
        <div class="clearfix"></div>
		<div class="row marTop10 text-center" style="border-bottom: 1px solid #f47c59;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="font-size: 12px;">
				<a href="/#goldmine" style="color:#cccccc;">SPACES</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="font-size: 12px;">
				<a href="/#cashregister" style="color:red;">BOOKINGS</a>
			</div>
		</div>
        <div class="clearfix"></div>
        <div class="row marAuto marTop10" style="font-size:11px;margin: 20px 0px 10px 0px;" ng-repeat="item in [1,2,3]">
            <div class="width-pull-left2 pull-left">
                <span style="color: #9f9ea2;">30 Oct</span><br />
                <span class="font-size8-bold">10 am-6 pm</span>
            </div>
            <div class="width-pull-left2 pull-left">
                <!-- <span style="color:#9f9ea2">LOCATED AT</span> <br/> -->
                <span class="font-size8-bold">Brigade Gardenia</span>
            </div>
            <div class="width-pull-left2 pull-left">
                <span style="color: #9f9ea2;">ID</span><br />
                <span class="font-size8-bold">3363</span>
            </div>
            <div class="width-pull-left2 pull-left"  style="border-right:0px;">
                <span style="color: #9f9ea2;">AWP</span>                
            </div>
            <div class="width-pull-left2 pull-left" style="border-right:0px;">
                <button type="button" class="btn btn-default" style="font-size: 12px; line-height: 1.5; border-radius: 0; background-color: #68c7bb; border: 0; color: #586b6f;">cancel</button>    
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="margin:20px 0px 10px 0px;">
        	<label>HISTORY</label>
        </div>
        <div class="row marTop20" style="font-size: 11px; margin: 20px 0px 10px 0px;" ng-repeat="item in [1,2,3]">

            <div class="width-pull-left2 pull-left">
                <span style="color: #9f9ea2;">30 Oct</span><br />
                <span class="font-size8-bold">10 am-6 pm</span>
            </div>
            <div class="width-pull-left2 pull-left">
                <!-- <span style="color:#9f9ea2">LOCATED AT</span> <br/> -->
                <span class="font-size8-bold">Brigade Gardenia</span>
            </div>
            <div class="width-pull-left2 pull-left">
                <span style="color: #9f9ea2;">ID</span><br />
                <span class="font-size8-bold">3363</span>
            </div>
            <div class="width-pull-left2 pull-left"  style="border-right:0px;">
                <span style="color: #9f9ea2;">AWP</span>                
            </div>
            <div class="width-pull-left2 pull-left" style="border-right:0px;">
                <button type="button" class="btn btn-default" style="font-size: 12px; line-height: 1.5; border-radius: 0; background-color: #68c7bb; border: 0; color: #586b6f;">RATE</button>    
            </div>
        </div>
	</div>
</div>