<html>
 <head></head>
 <body>
  <div class="row"> 
   <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"> 
    <form role="form"> 
     <h2 class="text-center">SIGNUP</h2> 
     <hr class="colorgraph" /> 
     <div class="row"> 
      <div class="col-xs-12 col-sm-6 col-md-6">
       <a href="#"><span class="badge">1</span> Let's earn some moolah</a>
      </div> 
     </div> 
     <div class="row"> 
      <div class="col-xs-6 col-sm-6 col-md-6"> 
       <div class="form-group"> 
        <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" /> 
       </div> 
      </div> 
      <div class="col-xs-6 col-sm-6 col-md-6"> 
       <div class="form-group"> 
        <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" /> 
       </div> 
      </div> 
     </div> 
     <div class="form-group"> 
      <input type="text" name="mobile" id="mobile" class="form-control input-lg" placeholder="Mobile" tabindex="3" /> 
     </div> 
     <div class="form-group"> 
      <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="4" /> 
     </div> 
     <hr class="colorgraph" /> 
     <div class="row"> 
      <div class="col-xs-12 col-md-6" ng-click="locateSpace()">
       <input type="submit" value="Locate It..." class="btn btn-primary btn-block btn-lg" tabindex="7" />
      </div> 
     </div> 
    </form> 
    <div class="row"> 
     <div class="col-xs-12 col-sm-6 col-md-6">
      <a href="#"><span class="badge">2</span> Your gold mine</a>
     </div> 
    </div> 
   </div> 
  </div> 
 </body>
</html>